{% block menu%}
<ul class="menu-drop" id="drop-nav">
  <li><a href="/beta">Home</a></li>
  <li><a href="#">About</a>
    <ul>
      <li><a href="/beta/team">Team</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Positions</a></li>
    </ul>
  </li>
  <!--
  <li><a href="#">Content Management</a>
    <ul>
      <li><a href="#">Joomla</a></li>
      <li><a href="#">Drupal</a></li>
      <li><a href="#">WordPress</a></li>
      <li><a href="#">Concrete 5</a></li>
    </ul>
  </li>
  <li><a href="#">Contact</a>
    <ul>
      <li><a href="#">General Inquiries</a></li>
      <li><a href="#">Ask me a Question</a></li>
    </ul>
  </li>
  -->
</ul>

{% endblock%}
