{# Loading Team Template#}
{% extends "beta/defaultTemplate.html" %}

{% block metaKeywords %}"united facility team, partners"{% endblock %}
{% block metaDescription %}"A Team"{% endblock %}
{% block title %} - United Facilities{% endblock %}
{% block inc_script %}
    <link href="/static/css/bxslider01.css" rel="stylesheet" />
    <link href="/static/css/default.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}

<div id="site_structure">
    <div class="container-wrapper">
        <div class="team-main">
            <img src="/static/img/black_hair.jpg">
            <div class="column-team"> <h2> Consultant 1 </h2>
                <p> I'm a Paragraph. Click here to add your own text and edit me.
                It's easy. Just click Edit Text or double click me and you can start adding your own content and make changes to the font.
                I'm a great place for you to let your users know a little more about you.
                If you want to delete me just click on me and press delete test </p>
            </div>
        </div>

        <div class="team-main">
            <img src="/static/img/blonde_hair.jpg">
            <div class="column-team"> <h2> Consultant 2 </h2>
                <p> I'm a Paragraph. Click here to add your own text and edit me.
                It's easy. Just click Edit Text or double click me and you can start adding your own content and make changes to the font.
                I'm a great place for you to let your users know a little more about you.
                If you want to delete me just click on me and press delete test
                </p>
            </div>
        </div>

        <div class="team-main">
            <img src="/static/img/gray_hair.jpg">
            <div class="column-team"> <h2> Consultant 3 </h2>
                <p> I'm a Paragraph. Click here to add your own text and edit me.
                It's easy. Just click Edit Text or double click me and you can start adding your own content and make changes to the font.
                I'm a great place for you to let your users know a little more about you.
                If you want to delete me just click on me and press delete test
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
